<a href="https://colab.research.google.com/github/PhanTheMinhChau/baitap/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#khai báo các thư viện cần dùng: 
import pandas as pd
import numpy as np

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [37]:
counts = pd.Series([12, 5, 23, 48, 25, 5, 97, 22, 12, 13, 99, 320])
print(counts)

0      12
1       5
2      23
3      48
4      25
5       5
6      97
7      22
8      12
9      13
10     99
11    320
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [38]:
data_dict = {'Hue': 632, 'Da Nang': 1638, 'Ha Noi': 569, 'TP HCM': 115, 'Quang Nam':45, 'Quang Tri':112, 'Hai Phong':34,}
data_se = pd.Series(data_dict)
print(data_se)

Hue           632
Da Nang      1638
Ha Noi        569
TP HCM        115
Quang Nam      45
Quang Tri     112
Hai Phong      34
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số 

theo kiểu ký tự với giá trị do bạn tự xác định.

In [39]:
counts2 = pd.Series(list(counts), index=['A1', 'B2', 'C1', 'D1', 'E2', 'F1', 'G2', 'H1', 'I2', 'J2', 'K1', 'L1'])
print(counts2)

A1     12
B2      5
C1     23
D1     48
E2     25
F1      5
G2     97
H1     22
I2     12
J2     13
K1     99
L1    320
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [40]:
print(data_se[5])

112

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [42]:
print(counts2['D1'])

48

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [43]:
counts2[[name.endswith('1') for name in counts2.index]]

A1     12
C1     23
D1     48
F1      5
H1     22
K1     99
L1    320
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [44]:
counts.name = "hello"
counts.index.name = "STT"
print(counts)

STT
0      12
1       5
2      23
3      48
4      25
5       5
6      97
7      22
8      12
9      13
10     99
11    320
Name: hello, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [45]:
print(np.log(counts))

STT
0     2.484907
1     1.609438
2     3.135494
3     3.871201
4     3.218876
5     1.609438
6     4.574711
7     3.091042
8     2.484907
9     2.564949
10    4.595120
11    5.768321
Name: hello, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [46]:
print(counts[counts>15])

STT
2      23
3      48
4      25
6      97
7      22
10     99
11    320
Name: hello, dtype: int64